aiohttp==3.10.8
asyncio==3.4.3
base64
colorama==0.4.6
concurrent.futures
cv2
datetime
dotenv
firestore
firebase-admin==6.6.0
geopy==2.4.1
google-auth==2.35.0
google-cloud-firestore==2.19.0
lime==0.2.0.1
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
pillow==10.4.0
pickle
python-dotenv==1.0.1
requests==2.32.3
scikit-image==0.24.0
scipy==1.14.1
shap==0.46.0
signal
skimage
threadpoolctl==3.5.0
torch==2.4.1
torchvision==0.19.1
websockets==14.1
